.App {
  text-align: center;
 
  padding-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

body{
  margin: 0;
  padding: 0;
}

/*grid 3x3*/
.ultimate-board, .board{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 20px 20px;

}


.board{
  padding:10px;
  width: 200px;
  height: 200px;
  background-color: grey;
  border: 1px solid black;
}

.row{
  flex: 33%;
  display: flex;
  flex-direction: row;
  
}

.square{
  flex: 33%;
  height: 100%;
  border: 1px solid black;
  cursor: pointer;
  display: grid;
  place-items: center;
  font-size: 30px;
  color: black;
}

.square:active{ /* when clicked */
  background-color: #e6e6e6;
  transition: 1ms;
  
}

.wonX{
  background-color: red;
  transition: 0.5ms;
}
.wonO{
  background-color: blue;
  transition: 0.5ms;
}

.wonDraw{
  background-color: lightsalmon;
  transition: 0.5ms;
}


.boardSelected {
  background-color: rgba(255, 0, 0, 0);
  transition: 1s; 
}

.boardBlock, .boardBlock > .square{
  cursor: not-allowed;
  transition: 0.5ms;
}

.FormsContainer {
  background-color: lightgrey;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  width: 300px;
  margin-right: 10%;
}

.FormsContent {
  display: flex;
  justify-content: center;
}

.FormsForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.FormsInput {
  margin: 5px;
  padding: 5px;
  border-radius: 3px;
  border: 1px solid #ccc;
}

.FormsButton {
  margin-top: 10px;
  padding: 5px 10px;
  border-radius: 3px;
  border: none;
  background-color: #4caf50;
  color: white;
  cursor: pointer;
}

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.popup-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  text-align: center;
  border-radius: 5px;
}

#play-again-btn {
  margin-top: 10px;
}

.boardWrapper {
  position: relative;
}

.currentPlayer {
  color: red;
  font-size: x-large;
  
  position: absolute;
  top: 85%;
  left: 60%;
  font-weight: bold;
}
